---
import Layout from '../../layouts/PageLayout.astro';
const allPosts = Object.values(import.meta.glob('../posts/*.md', {eager: true}));
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];

const metadata = {
  title: 'Tag Index',
};
---

<Layout metadata={metadata}>
  <h1>Tag Index</h1>
  {
    tags.map((tag) => (
      <p class="tag">
        <a href={`/tags/${tag}`}>{tag}</a>
      </p>
    ))
  }</Layout
>
